:root {
  --clr-primary: #02111b;
}
html {
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

img {
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
.logo {
  padding: 1.5em;
  text-align: center;
}
.nav-container {
  width: 100%;
  margin-bottom: 1em;
  font-weight: bold;
  text-transform: uppercase;
}
.menu__list {
  display: flex;
  justify-content: space-around;
  padding: 1.5em;
  list-style: none;
  margin: 0;
}
header {
  min-height: 100vh;
  background: url("./images/header.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 2em;
}
h1 {
  font-size: 2rem;
  margin: 7rem auto 0;
  max-width: 25ch;
}
h2,
h3 {
  margin-bottom: 3rem;
  text-align: center;
}
h2 {
  padding-top: 3rem;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 2rem;
}
section {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.services-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.services article {
  flex: 0 1 350px;
  position: relative;
  color: white;
  background-color: var(--clr-primary);
  margin: 7rem 1rem;
  padding: 2em;
  border-radius: 25px;
  min-height: 500px;
}
.slice {
  position: absolute;
  right: 50%;
  bottom: 0;
  transform: translate(50%, 50%);
  width: 150px;
  height: 150px;
  background-image: url("./images/pngegg.png");
  background-size: cover;
}
.slice img {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
footer {
  min-height: 8vh;
  color: white;
  background-color: var(--clr-primary);
  padding: 1em 2em;
}
footer span {
  font-weight: bold;
}
@media (min-width: 740px) {
  .nav-container {
    display: flex;
    justify-content: space-between;
  }
  .menu__list {
    justify-content: space-between;
  }
  .menu {
    flex-basis: 33%;
  }
}
@media (min-width: 840px) {
  .about-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .about img {
    margin: auto;
  }
}
@media (min-width: 1200px) {
  h1 {
    font-size: 3.125rem;
  }
  h2 {
    font-size: 2rem;
  }
}
